@font-face {
    font-family: 'Lexend Deca Light';
    src: url('../fonts/LexendDeca-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lexend Deca Light', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logo {
    width: 200px;
    margin: 20px;
}

header {
    background-color:black;
    color: #fff;
    padding: 20px;
    text-align:center;
}
.container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 90%
} 
h1 {
    text-align: center;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* dark-mode/bright-mode */
label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 50px;
    border: 2px solid;
    border-radius: 20px;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: 0.4s;
}
label.active:before{
    left: 24px;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}



/* botstrap navbar */
.nav {
    margin: 5px; 

}
.nav-link{
    color:white;
}
input[type="text"] {
    padding: 8px;
    width: 200px;
}
select {
    padding: 8px;
}
button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.opportunities {
    margin-left: 15%;
    margin-right: 15%;
}

.opportunity {
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    justify-content: space-between; /* Aligns items to the left and right edges */
    align-items: center; /* Aligns items vertically */
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    text-align: center; /* Align text center */
    margin-bottom: 20px;
    
    border-radius: 10px;
}


.opportunity .apply-button {
    background-color: blue;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.month_container {
    display: flex;
    align-items: center;
}

.month_container p {
    margin-right: 20px
}
.month_container a {
    height: min-content;
}

.opportunity h2 {
    margin: 0;
}

.about-section {
    padding-top: 50px; /* Add space above the About section */
}


.opportunity .opening-month {
    display: inline-block;
    width: 100px; /* Adjust width as needed */
    text-align:unset;
}

.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
    color: white;
} 

.main-nav {
    display: flex;
    justify-content: space-around;
}
.sub-nav {
    margin-top: 10px;
}
/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
    .container {
        margin: 60px auto;
        padding: 20px;
        max-width: 90%; /* Adjust max-width for smaller screens */
    }

    .nav__items {
        display: none; /* Hide the navigation links on smaller screens */
    }
}

